{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "airbnb",
  settings: {
      "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
